.grid {
    background-image: url('../../../assets/background.jpg')!important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vmin; // pega todo o viewport da tela
    }

    